<!DOCTYPE html>

<head>

    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="neat.css">
    <link rel="stylesheet" type="text/css" href="custom.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="canonical" href="{{ page.url | remove: '.html' | absolute_url }}">

</head>

<body>

    {% if page.url != "/" and page.url != "/subscribe.html" %}
        <a class="menu" href="/">home</a>
    {% endif %}

    {{ content }}

    
    <hr style="margin-top: 2em;">
    
    <p class="center" style="margin-top: 3em; opacity: 0.4;">Decknotes © Bot Log</p>

    <p class="center" style="opacity: 0.4;"><a href="/about.html">About</a></p>

    

</body>

</html>
